@model UserForm.Models.UserInformations
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
  
            <input type="hidden" name="ID" id="ID" value="@Model.Id" />
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input type="text" class="form-control validate-input" name="Name" id="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="Surname" class="control-label">Surname</label>
                <input type="text" class="form-control validate-input" name="Surname" id="Surname" value="@Model.Surname" />
            </div>
            <div class="form-group">
                <label for="Telephone" class="control-label">Telephone</label>
                <input type="text" class="form-control validate-input" name="Telephone" id="Telephone" value="@Model.Telephone" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input type="text" class="form-control validate-input" name="Email" id="Email" value="@Model.Email" />
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input type="text" class="form-control validate-input" name="Password" id="Password" value="@Model.Password" />
            </div>
            <div class="form-group">
                <label for="myfile">Image:</label>
                <input type="file" id="userFile" name="myfile">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="Save" name="Save" onclick="Sender()" value="Save" />
            </div>
       
    </div>
</div>
<div>
    <a href="/Home/Index">Back to List</a>
</div>
<script>
    function Validate() {
        var count = 0;
        var inputList = $(".validate-input");
        $.each(inputList, (index, value) => {
            if ($(value).val().length < 1) {
                count++;
                $(value).after("<span>Yetersiz uzunluk</span>");
            }
        })

        if (count>0) {
            return false;
        }
        return true;
    }
    function isEmail(email) {

        var mail = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var test = mail.test(email);
        return test;
    }
    function isPassword(password)
    {
        var passLength = password.length;
        if (passLength <= 16 && passLength >= 8) {
            return true;
        }
        return false;
    }
    function isTelephone(telephone) {
        var telLength = telephone.length;
        if ($.isNumeric(telLength)) {
            if (telLength == 10) {
                return true;
            }
        }
        return false;
    }

    function Sender() {
        if (!Validate())
            return;
        var formData = new FormData();
        var Id = $("#ID").val();
        var Name = $("#Name").val();
        var Surname = $("#Surname").val();
        var Email = $("#Email").val();
        var Telephone = $("#Telephone").val();
        var Password = $("#Password").val();
        var files = $('#userFile')[0].files;
        if (files.length > 0) {
            formData.append('FormFile', files[0]);
        }
        //var file = $("#userFile")[0].files[0];
        formData.append("ID",Id);
        formData.append("Name", Name);
        formData.append("Surname", Surname);
        formData.append("Email", Email);
        formData.append("Telephone", Telephone);
        formData.append("Password", Password);
        //formData.append("FormFile", file);
        if (!isEmail(Email)) {
            return $("#Email").after("<span>Email is not correct</span>") ;
        }
        if (!isPassword(Password)) {
            return $("#Password").after("<span>Your password include minimum eight characters,maximum 16 charaacters</span>");
        }
        if (!isTelephone(Telephone)) {
            return $("#Telephone").after("<span>Telephone is not correct. Your telephone number must be 10 digit</span>");
        }
        $.ajax({
            method: "POST",
            url: "@Url.Action("Edit","Home")",
            data: formData,
            processData: false,
            contentType: false,
            success: (resp) => {
                if (resp==1) {
                    window.location.href = "/Home/Index";
                }
                else {
                    alert("Hata");
                }
            },
            error: (err) => {
                $("body").html("Hata");
            }
        });
    }
</script>